
article(class="background-gris block-guia section scrollspy" id="precios")
	section(class="container")
		div(class="row")
			div(class="col s12 m9")
				h2(class="") Empieza a formar parte de internet.
				
article(class="")
	article(class="container")
		section(class="row")
			div(class="col 28")
				p(class="text-normal") Contactame, no todos los proyectos web son iguales.
				p(class="text-normal") Hablemos sobre lo que tienes en mente, tal vez tu sitio requieres menos o incluso más paginas.

article(class="")
	article(class="container")
		section(class="row")
			div(class="col s6 m4 l2")
				div(class="guia-head--simple gris")
					h5(class="guia-text") 3 pagos
				span(class="flex")
					p(class="guia-text") Firma de contrato
				span(class="flex")
					p(class="guia-text") Diseño final
				span(class="flex")
					p(class="guia-text") Publicación del proyecto
					
			div(class="col s6 m5 l3")
				div(class="guia-head--azul")
					h5(class="guia-titulo") Multi page
				span(class="flex fila")
					p(class="center") $ 1,000.00
				span(class="flex fila")
					p(class="center") $ 1,000.00
				span(class="flex fila")
					p(class="center") $ 1,500.00
				span(class="block center")
					span(class="tag-rosa") $3,500.00
					
					
					
					
					
			div(class="col s6 m4 l2 hide-on-large-only")
				div(class="guia-head--simple guia-text gris")
					h5(class="") 3 pagos
				span(class="flex ")
					p(class="guia-text") Firma de contrato
				span(class="flex ")
					p(class="guia-text") Diseño final
				span(class="flex ")
					p(class="guia-text") Publicación del proyecto
					
			div(class="col s6 m5 l3")
				div(class="guia-head--azul2")
					h5(class="guia-titulo") One - page
				span(class="flex fila")
					p(class="center") $ 1,000.00
				span(class="flex fila")
					p(class="center") $ 1,000.00
				span(class="flex fila")
					p(class="center") $ 1,500.00
				span(class="block center")
					span(class="tag-rosa") $5,000.00