
article(class="background-gris block-guia section scrollspy" id="precios")
	section(class="container")
		div(class="row")
			div(class="col s12 m9")
				h2(class="") Empieza a formar parte de internet.
				
article(class="")
	section(class="container")
		div(class="row")
			div(class="col s12 m12")
				p(class="") Contactame, no todos los proyectos web son iguales.

				p(class="") Hablemos sobre lo que tienes en mente, tal vez tu sitio requiera más o menos paginas.
			div(class="col s12 m6")
				div(class="")
					table(class="highlight")
						thead
							tr

								th(data-field="id" class="text-normal") 3 Pagos
								th(data-field="name" class="op--titulo") One-page

						tbody
							tr
								td(class="op--subtitulo") Al firmar el contrato
								td(class="op--precio") $1,000.00
							tr
								td(class="op--subtitulo") Al finalizar el diseño
								td(class="op--precio") $1,000.00

							tr
								td(class="op--subtitulo") Publicación del proyecto
								td(class="op--precio") $1,500.00


			div(class="col s12 m6")
				div(class="")
					table(class="highlight")
						thead
							tr

								th(data-field="id" class="text-normal") 3 Pagos
								th(data-field="name" class="op--titulo") Multi-page

						tbody
							tr
								td(class="op--subtitulo") Al firmar el contrato
								td(class="op--precio") $1,000.00
							tr
								td(class="op--subtitulo") Al finalizar el diseño
								td(class="op--precio") $1,000.00

							tr
								td(class="op--subtitulo") Publicación del proyecto
								td(class="op--precio") $1,500.00

	

			

			