div(class="col s12 m9 l5 offset-l1 f-6 scrollspy" id="multipage")
  div(class="jcard")
    h2(class="jcard-title-x") Multi page
    span(class="jcard-icon circle--small back-rosa")
      i(class="icon-stack")
    span(class="jtag-x back-azul") 5 Páginas

    p(class="jcard-title") Si tienes muchos productos y servicios, será ideal para iniciar tu presencia en la web.
    p
      span(class="circle--bulleted")
      span Información detallada de tus productos o servicios
    p
      span(class="circle--bulleted")
      span Medición y mejor optimización SEO

    p(class="jcard-price") $6,900
      span(class="jcard-denomination") MXN/ 3 Pagos
    table(class="table-size")
      tbody(class="jcard-prices")
        tr
          td Firma de contrato
          td(class="jcard-price--small") $1,500

        tr
          td Entrega del diseño
          td(class="jcard-price--small") $1,500

        tr
          td Publicación del proyecto
          td(class="jcard-price--small") $2,900


div(class="col s12 m9 l5 offset-l1 f-6 scrollspy" id="onepage")
  div(class="jcard")
    h2(class="jcard-title-x scrollspy" id="onepage") One page
    span(class="jcard-icon circle--small back-rosa")
      i(class="material-icons") looks_one
    span(class="jtag-x back-azul") 1 Página

    p(class="jcard-title") Toda la información disponible en una sola página.
    p(class="jcard-title") Si eres un profesional que desea mostrar su perfil profesional o si tienes una empresa con pocos servicios, este tipos de sitio será perfecto.

    p
      span(class="circle--bulleted")
      span Navegación fluida
    p
      span(class="circle--bulleted")
      span Dedicada a la conversión de clientes

    p(class="jcard-price") $3,900
      span(class="jcard-denomination") MXN/ 3 Pagos
    table(class="table-size")
      tbody(class="jcard-prices")
        tr
          td Firma de contrato
          td(class="jcard-price--small") $1,000

        tr
          td Entrega del diseño
          td(class="jcard-price--small") $1,000

        tr
          td Publicación del proyecto
          td(class="jcard-price--small") $1,900



div(class="col s12 m9 l4 f-7")
  div(class="jcard")
    h2(id="personalizado" class="jcard-title-x scrollspy") Personalizado
    span(class="jtag-x back-azul") ¿? Páginas

    p(class="jcard-title") Sin límites.

    p
      span(class="circle--bulleted")
      span ¿Deseas un blog?
    p
      span(class="circle--bulleted")
      span ¿Tienda en linea?
    p Llamame o contactame en cualquiera de mis redes sociales que están en la página contacto.
    table(class="table-size-x")
      tbody(class="jcard-prices")
        tr
          td
            a(href="tel:+9241020883" class="waves-effect waves-light btn") Llamar
          td(class="")
            a(href="/contacto.html" class="waves-effect waves-light btn pink lighten-2") Contacto
