
article(class="background-gris block-guia square")
article(class="background-gris block-guia section scrollspy" id="precios")
	section(class="container")
		div(class="row")
			div(class="col s12 m9")
				div(class="tag background-azul") $ --.00
				h2(class="") Empieza a formar parte de internet.
				p(class="") Contactame, no todos los proyectos web son iguales.
				p(class="") Hablemos sobre lo que tienes en mente, tal vez tu sitio requiera más o menos paginas.
			div(class="col s6")
				div(class="")
					table(class="highlight")
						thead
							tr

								th(data-field="id") ( )
								th(data-field="name") One-page
								th(data-field="name") Multi-page

						tbody
							tr
								td Firma de contrato
								td $1,500.00
								td $2,000.00
							tr
								td Entrega del diseño
								td $1,500.00
								td $2,000.00

							tr
								td Publicación
								td $1,500.00
								td $2,000.00


							

			