//-///// SECCION 3 ////////

section(class="section-three")
	article(class="container")
		div(class="row")
			div(class="col s12 l6 push-l6 line-style")
				h2(class="") Obten los beneficios de un sitio web
				p(class="st2") Con un sitio desarrollado pensando en tus clientes, para darles una experiencia de usuario positiva.
				p(class="st2") Desde el papel está pensando en la escalabilidad de tu negocio.
			div(class="col s12 l6 pull-l6")
				figure(class="")
					img(src="/img/in-construction.png" alt="sitio web en construcción" data-caption="Un sitio se planea." class="materialboxed img-full")
		div(class="row")
			div(class="col s12 m6")
				div(class="card-container")
					p(class="s3s1") Sitio optimizado para dispositivos móviles.
					article(class="card big sin-boxshadow")
						div(class="card-image waves-effect waves-block waves-light")
							img(class="activator" src="img/responsive-design.png")
						div(class="card-content")
							span(class="card-title activator") Responsive design
								i(class="material-icons right") more_vert
							p
								a(href="#") Leer más

						div(class="card-reveal")
							span(class="card-title") Responsive design
								i(class="material-icons right") close
							p(class="") Es una de las alternativas de diseño y desarrollo web para garantizar que las páginas de un sitio sean capaces de adaptar su apariencia a cualquier dispositivo móvil. Esta filosofía garantiza la correcta visualización para mejorar la experiencia de usuario.


			div(class="col s12 m6")
				div(class="card-container")
					p(class="s3s1") Mejor posicionamiento orgánico en buscadores.
					article(class="card big sin-boxshadow")
						div(class="card-image waves-effect waves-block waves-light")
							img(class="activator" src="img/seo.png")
						div(class="card-content")
							span(class="card-title activator") SEO
								i(class="material-icons right") more_vert
							p
								a(href="#") Leer más

						div(class="card-reveal")
							span(class="card-title") SEO
								i(class="material-icons right") close
							p(class="") Es un proceso técnico, que organiza la estructura y el contenido de las páginas de un sitio web, para mejorar la visibilidad en los buscadores, mejorando el posicionamiento natural en las búsquedas con términos o palabras relacionadas con tu negocio.


			div(class="col s12 m6")
				div(class="card-container")
					p(class="s3s1") El hosting apropiado para tu sitio por un año.
					article(class="card big sin-boxshadow")
						div(class="card-image waves-effect waves-block waves-light")
							img(class="activator" src="img/hosting.png")
						div(class="card-content")
							span(class="card-title activator") Web hosting
								i(class="material-icons right") more_vert
							p
								a(href="#") Leer más

						div(class="card-reveal")
							span(class="card-title") Web hosting
								i(class="material-icons right") close
							p(class="") Es una analogía de hospedaje o alojamiento en hoteles, porque es donde vivirá tu sitio, ahí se guardará el código, imágenes, vídeos, y todo de lo que esté compuesto. Tu no tendrás que ocuparte del hosting, pero es bueno saber que sepas que es uno de los servicios que garantizaran la permanencia de tu sitio en Internet.


			div(class="col s12 m6")
				div(class="card-container")
					p(class="s3s1") Tu propio nombre de dominio gratis por un año.
					article(class="card big sin-boxshadow")
						div(class="card-image waves-effect waves-block waves-light")
							img(class="activator" src="img/domain.png")
						div(class="card-content")
							span(class="card-title activator") Nombre de dominio
								i(class="material-icons right") more_vert
							p
								a(href="#") Leer más

						div(class="card-reveal")
							span(class="card-title") Nombre de dominio
								i(class="material-icons right") close
							p(class="") "http://jahaziel04.com": esto es un nombre de dominio, no encontraras otro igual, es la dirección del sitio. Existen dominios gratuitos, pero usarlos refleja poco profesionalismo y seriedad a tu negocio. Piensa en uno que represente o a tu marca, en tu publicidad no debe faltar tu nombre de dominio.


			div(class="col s12 m6")
				div(class="card-container")
					p(class="s3s1") Social media marketing y estrategia digital por un mes.
					article(class="card big sin-boxshadow")
						div(class="card-image waves-effect waves-block waves-light")
							img(class="activator" src="img/marketing.png")
						div(class="card-content")
							span(class="card-title activator") Nombre de dominio
								i(class="material-icons right") more_vert
							p
								a(href="#") Leer más

						div(class="card-reveal")
							span(class="card-title") Social media marketing y estrategia digital
								i(class="material-icons right") close
							p(class="") Seguro tienes una cuenta en Twitter, Facebook, Instagram, etc. Estos medios se vuelven muy importantes si se genera contenido atractivo y de utilidad para tus clientes, hace que exista un continuo foco hacia la marca, que aliente al continuo consumo y propague confianza a futuros usuarios.


			div(class="col s12 m6")
				div(class="card-container")
					p(class="s3s1") Gestion y optimización de herramientas de Google.
					article(class="card big sin-boxshadow")
						div(class="card-image waves-effect waves-block waves-light")
							img(class="activator" src="img/google-tools.png")
						div(class="card-content")
							span(class="card-title activator") Nombre de dominio
								i(class="material-icons right") more_vert
							p
								a(href="#") Leer más

						div(class="card-reveal")
							span(class="card-title") Gestion y optimización de herramientas de Google.
								i(class="material-icons right") close
							p(class="") Google nos brinda servicios para potenciar la marca y nos permite ser parte de su ecosistema de mapas, su buscador, red social (google-plus) y la habilidad de poder medir el tráfico en nuestro sitio, mostrándonos métricas que te ayudaran a controlar el negocio, para saber cuánto estas o no creciendo.
