article(class="block-guia section scrollspy" id="multi-page")
	section(class="container")
		div(class="row")
			div(class="col s12")
				div(class="jflex")
					span(class="rectangule--azul_2 guia-flex")
						i(class="icon-stack")
					h2(class="guia-subtitulo") Multi-page
	
		div(class="row relative")
			div(class="col s12 m6")
				p(class="text-normal") El clasico y más efectivo sitio para tu negocio, el más escalable y de facil posicionamiento en los buscadores web.

				p(class="text-normal") Más información detallada, tus clientes no tendrán dudas de como obtener tus servicios y los beneficios que obtendrán de ser tus clientes.
			div(class="col s12 m6")
				figure(class="center movement-fix")
					img(src="/img/multi-page.png" class="img-guide")
					
		div(class="row")
			div(class="col s12 m9")
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Diseño</i> - 
					span(class="") Creado especialmente para tu marca y tipo de negocio.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">5 Páginas</i> - 
					span(class="") Inicio, servicios, acerca-de, preguntas frecuentes y contacto.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Adaptable a móviles</i> - 
					span(class="") Optimización para mǘiles, accesible desde cualquier dispositivo.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">SEO</i> - 
					span(class="") Alta en buscadores y optimización para motores de busqueda.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Google-maps</i> - 
					span(class="") Alta en google-maps visible a los ojos del mundo en los mapas de google.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Estadisticas</i> - 
					span(class="") Sabras siempre la cantidad de visitas en tu sitio, la procedencia y más.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Dominio</i> - 
					span(class="") Registro de dominio con año gratis.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Hosting</i> - 
					span(class="") 30GB de almacenamiento por un año.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Social media marketing</i> - 
					span(class="") Estrategia de marketing de introducción al mercado y generación de contenido por el primer mes, para llevas trafico a tu web sin costos.

article(class="block-guia guia-dos section scrollspy " id="one-page")
	section(class="container")
		div(class="row")
			div(class="col s12")
				div(class="jflex")
					span(class="rectangule--azul_2 guia-flex")
						i(class="icon-looks_1")
					h2(class="guia-subtitulo-x") One-page
					
		div(class="row")
			div(class="col s12 m9")
				p(class="text-normal") Todo en una sola página, el usuario no irá a ninguna otra parte a buscar más información, la información más relevante estará al alcance del usuario.

				p(class="text-normal") Ideal para profecionales que quieren mostrar su perfil profecional o negocios con pocos productos o servicios.
				
			div(class="col s12 m8")
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Diseño</i> 
					span(class="hide-on-small-only") - Creado especialmente para tu marca y tipo de negocio.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">1 Página</i> 
					span(class="hide-on-small-only") - Contendrá el contenido más relevante de tu negocio.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Adaptable a móviles</i> 
					span(class="hide-on-small-only") - Optimización para mǘiles, accesible desde cualquier dispositivo.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">SEO</i> 
					span(class="hide-on-small-only") - Alta en buscadores y optimización para motores de busqueda.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Google-maps</i> 
					span(class="hide-on-small-only") - Alta en google-maps visible a los ojos del mundo en los mapas de google.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Estadisticas</i> 
					span(class="hide-on-small-only") - Sabras siempre la cantidad de visitas en tu sitio, la procedencia y más.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Dominio</i> 
					span(class="hide-on-small-only") - Registro de dominio con año gratis.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Hosting</i> 
					span(class="hide-on-small-only") - 30GB de almacenamiento por un año.
				p(class="") <i class="icon-checkmark azul-text"></i> <i class="lista">Social media marketing</i> 
					span(class="hide-on-small-only") - Estrategia de marketing de introducción al mercado y generación de contenido por el primer mes, para llevas trafico a tu web sin costos.
