article(class="block-guia section")
	section(class="container")
		div(class="row")
			div(class="col s12 m9 l4")
				div(class="jcard")
					p(class="jcard-title") Esta es la lista de beneficios que tendrás al contratar cualquier servicio de desarrollo web.
	
					article(class="features")
						div(class="features-item")
							div(class="circle--icon-small back-rosa")
								i(class="material-icons white-text") bubble_chart
							div(class="features-content")
								p Propuesta de diseño
								p(class="t") Diseño de acuerdo a tu negocio.

						div(class="features-item")
							div(class="circle--icon-small back-verde")
								i(class="material-icons white-text") place
							div(class="features-content")
								p Google maps
								p(class="t") Enseña a tus clientes a como llegar a tu negocio, con un mapa personalizado de tu hubicación.
				
						div(class="features-item")
							div(class="circle--icon-small back-rosa")
								i(class="material-icons white-text") devices_other
							div(class="features-content")
								p Responsive design
								p(class="t") Todas las páginas adaptables a dispositivos móviles.

						div(class="features-item")
							div(class="circle--icon-small back-azul")
								i(class="white-text www") www
							div(class="features-content relative")
								p Dominio
								span(class="jtag back-rojo2") Gratis el 1er año
								p(class="t")
								
				
						div(class="features-item")
							div(class="circle--icon-small back-verdesito")
								i(class="material-icons white-text") storage
							div(class="features-content relative")
								p Hosting
								span(class="jtag back-rojo2") Gratis el 1er año
								p(class="t")
								

						div(class="features-item")
							div(class="circle--icon-small back-verde")
								i(class="material-icons white-text") search
							div(class="features-content")
								p Alta en buscadores
								p(class="t") Se facilitará la indexación en la red para que los buscadores sepan del contenido de tu web.

						div(class="features-item")
							div(class="circle--icon-small back-amarillo")
								i(class="material-icons white-text") language
							div(class="features-content")
								p Optmización SEO
								p(class="t") Codificación optimizada para competir por mejores puestos en los resultados de busqueda.

						div(class="features-item")
							div(class="circle--icon-small back-verde")
								i(class="material-icons white-text") timeline
							div(class="features-content")
								p Estadisticas
								p(class="t") Sabrás cuantos visitantes hay, como lo hacen, cuando y donde.
								
						div(class="features-item")
							div(class="circle--icon-small back-naranja")
								i(class="material-icons white-text") share
							div(class="features-content x relative")
								p Sicial media marketing
								p(class="t") Generación de contenido atractivo en tus redes sociales para crear tracción hacia tu sitio web con el fin de dar a conocer de forma más impactante tu marca.
								span(class="jtag back-rojo2") Gratis el 1er mes


			include ../seccion3/template.jade
