nav
	div(class="nav-wrapper white")
		a(href="/" class="brand-logo")
			div(class="jflex")
				div(class="circle--avatar")
					img(src="/img/avatar.jpg" class="img-full" alt="Jahaziel Ortiz Barrios")
				span(class="nav-name") Jahaziel Ortiz Barrios

			

			
		a(href="#" data-activates="mobile-demo" class="button-collapse")
			i(class="material-icons") menu

		ul(class="right hide-on-med-and-down")
			li
				a(href="/perfil.html") Perfil
			li
				a(href="/faq.html") FAQ
			li
				a(href="/blog") Bloq
			li
				a(href="/guia.html") Guía
			li
				a(href="/contacto.html") Contact

		ul(class="side-nav" id="mobile-demo")
			li
				a(href="/perfil.html") Perfil
			li
				a(href="/faq.html") FAQ
			li
				a(href="/blog") Bloq
			li
				a(href="/guia.html") Guía
			li
				a(href="/contacto.html") Contact