footer(class="back-gris_1 f-2 white-text")
  div(class="row f-1")
    div(class="col s12 m8 l8 offset-l1")
      div(class="row f-1  f-4 block")
        div(class="col s8 m8")
            p(class="text-normal") Aprende sobre lo que hay detrás del diseño, el desarrollo web, conceptos, estándares, todo lo relacionado con marketing, generación de contenido y más.
        div(class="col s4 m4")
          img(src="/img/logo-languajes.png" width="100px")
      div(class="row f-1 block f-3")
        div(class="col s6 m6")
          h5(class="text-normal") Blog
          ul
            li(class="")
              a(href="/blog/" class="link-footer") Diseño
            li(class="")
              a(href="/blog/" class="link-footer") Desarrollo
            li(class="")
              a(href="/blog/" class="link-footer") Marketing
        div(class="col s6 m6")
          h5(class="text-normal") Tecnologias
          ul
            li
              a(href="/blog/" class="link-footer") HTML5
            li
              a(href="/blog/" class="link-footer") CSS3
            li
              a(href="/blog/" class="link-footer") javascript
    div(class="col s12 m4 l3 back-gris_2")
      div(class="row f-1")
        div(class="col s12 jflex")
          img(src="/img/logo.png" hight="30px" width="30px" class="responsive-img")
          p(class="inline-block tab") <span class="phrase-part_1">Diseño </span><span class="phrase-part_2">y </span><span class="phrase-part_3">Desarrollo</span>


      div(class="divider")
      div(class="row")
        div(class="col s12")
          h5(class="footer-name") Jahaziel Ortiz Barrios
          ul
            li
              a(href="https://www.facebook.com/Jahaziel.Ortiz.Barrios" target="_blank" class="link-footer") Facebook
            li
              a(href="https://twitter.com/Jahaziel004" target="_blank" class="link-footer") Twitter
            li
              a(href="https://www.instagram.com/jahaziel04/" target="_blank" class="link-footer") Instagram
            li
              a(href="https://plus.google.com/u/0/104019931078090167469" target="_blank" class="link-footer") Google plus
            li
              a(href="https://www.linkedin.com/profile/preview?locale=es_ES&trk=prof-0-sb-preview-primary-button" target="_blank" class="link-footer") Linkedin
            li
              a(href="https://github.com/Jahaziel04" target="_blank" class="link-footer") Github




  div(class="row f-1 back-gris_3")
    div(class="col s12 m11 offset-m1")
      span(class="block text-space") © 2016 - 2017 :: Jahaziel Ortiz Barrios ::: Todos los derechos reservados.
