article(class="background-azul white-text perfil-uno relative")
	picture(class="")
		source(media="(min-width: 1024px)" srcset="/img/profile-desk-big.png")
		source(media="(min-width: 721px)" srcset="/img/profile-tablet.png")
		img(src="/img/profile-mobile.png" class="perfil-img" alt="Fondo de desarrollo web")


	section(class="perfil-space")
		figure(class="perfil-logo")
			img(src="/img/logo.png" class="img-full")
		h2(class="perfil-titulo") Perfil
		p(class="text-normal") Diseñador de interfaces web, experiencia de usuario, desarrollador web, optimización en buscadores (SEO) y marketing digital.