/*-----------------------------*\
           $BOTONES
    Estructura
    div(classs="button")
    	span(class="")
\*------------------------------*/
.button
	&,
	&-plane

		color black
		border 0px outset
		margin-left 1em
		justify-content center
		&:hover
			box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
			background-color: $principal
			color white

	&-plane
		color $principal
		box-shadow none
		&:hover
			background-color #f4f4f4
			box-shadow none
			color $secundario

///////Botones del Navegador sub
//Son las flechas que te envian a otra página justo al final de cada una.

a.button-link
	display: flex
	width: 100%
	color: white
	justify-content: center;


.box-link
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	span
		font-weight: 700
		font-size: 12px
		margin-top: 18px
	p
		font-weight: 700
		font-size: 18px
		margin-top: 0
////////Fin de bloque Navegador sub

.circle-button
	display inline-flex
	height 65px
	width 65px
	border-radius 50%
	justify-content center
	align-items center
	text-align: center
	//box-shadow 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
	cursor pointer
	&:hover
		box-shadow 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
