/*-----------------------------*\
           $BOTONES
    Estructura
    div(classs="button")
    	span(class="")
\*------------------------------*/
.button
	&,
	&-plane

		color black
		border 0px outset
		margin-left 1em
		justify-content center
		&:hover
			box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
			background-color: $principal
			color white

	&-plane
		color $principal
		box-shadow none
		&:hover
			background-color #f4f4f4
			box-shadow none
			color $secundario

///////Botones del Navegador sub

a.button-link
	display: flex
	width: 100%
	color: white
	justify-content: center;


.box-link
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	span
		font-weight: 700
		font-size: 12px
		margin-top: 18px
	p
		font-weight: 700
		font-size: 18px
		margin-top: 0
