


//////COMPONENTES DE UNA CARTA

.jcard
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12)
  padding: 16px 0 16px 16px
  &-title
    font-size 24px
    font-weight: 400;
    color: #404040;
.features
  display flex
  flex-direction: column;

  &-content
    display block
    width 100%
    border-bottom: 1px solid #999999
    //line-height: .5
    .t
      color: #999999


  .x
    border-bottom: none


  &-item
    display: flex;
    flex-direction: row;
    align-items: center;
