article(class="background-azul white-text block")
	section(class="container")
		div(class="row")
			div(class="col s12 m9 l6")
				//- Debe ser l10 cuando tengas más preguntas frecuentes
				h2(class="h2") Preguntas frecuentes
				p(class="text-normal") Es probable que aquí esté la respuesta de alguna de tus preguntas, si no es así, escríbeme por correo o en cualquiera de mis redes sociales, te contestaré tan rápido como me sea posible.

			div(class="col hide hide-on-small-only m3 l2")
				ul(class="section table-of-contents pinned")
					li
						a(href="#introduction") Introducción
					li
						a(href="#structure") Estructura
					li
						a(href="#initialization") Inicialización
			//-div(class="col hide-on-small-only m3 l2")
				div(class="pinned white")
					ul(class="section table-of-contents")
						li
							a(href="#one-page") Diseño
						li
							a(href="#multi-page") Pagos
						li
							a(href="#precios") Publicación
