article(class="perfil-dos block")
	section(class="container")
		div(class="row")
			div(class="col s12")
				div(class="jflex")
					span(class="circle--flag")
						span(class="circle--flag-in")
							span(class="icon-book2")
					
					h2(class="perfil-subtitulo") Estudios

				section(id="cd-timeline" class="cd-container")



					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Estudié en el Instituto Tecnologico de Minatitlán la carrera de Ingenieria en Sistemas Computacionales.
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") 2010 - 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Bases del desarrollo web y diseño de interfaces de usuario, en <a href="https://platzi.com/" class="link-green"> Platzi </a>
							ul
								li Guit y Github
								li Ilustrator
								li html y css
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Febrero - 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Diseño adaptable a dispositivos móviles e implementación de metodologia <a href="">mobil fist</a> en el desarrollo de sitio web responsive.
							ul
								li Pre-procesadores
								li Automatizadores de tareas de desarrollo
								li Paqueterias de desarrollo
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Marzo - 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Diseño de experiencia de usuario(UX) en desarrollo web
							ul
								li Procesos de diseño
								li Normativas de diseño
								li Patrones de diseño
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Abril - Mayo 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") SEO - Posicionamiento en buscadores
							ul
								li SEO técnico
								li Estrategias de SEO y contenido
								li Medición y optimización de reputación online
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Junio - Julio 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Marketing y estrategias digitales
							ul
								li Creación de marca
								li Presencia de marca
								li Metricas de analisis
								li Crecion de contenido
								li Publicidad no pagada
								li Publicidad pagada
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Agosto - Septiembre 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Desarrollo y administración de gestores de contenido
							ul
								li Wordpress
								li Desarrollo y gestion de contenido
								li Ecommerce
								
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Octubre - Noviembre 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Desarrollo front-end
							ul
								li Javascript
								li jQuery
								li EcmaScript6
								li Administración de servidores
								li Despliegue de proyectos web
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Diciembre - Actualidad


					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Constante actualización en nuevas tecnologias y estandares de la industria del desarrollo
							
							span(class="cd-date") 2016


