article(class="perfil-dos block")
	section(class="container")
		div(class="row")
			div(class="col s12")
				div(class="jflex")
					span(class="circle--flag")
						span(class="circle--flag-in")
							span(class="icon-book2")
					
					h2(class="perfil-subtitulo") Estudios

				section(id="cd-timeline" class="cd-container")



					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-azul")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Estudié en el Instituto Tecnologico de Minatitlán la carrera de Ingenieria en Sistemas Computacionales.
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") 2010 - 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-morado")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Bases del desarrollo web y diseño de interfaces de usuario, en <a href="https://platzi.com/" class="link-green"> Platzi </a>
							ul
								li <a href="https://git-scm.com/" target="_blank" class="link-orange"> Git </a> y <a href="https://github.com/" target="_blank" class="link-purple"> Github </a>
								li Ilustrator
								li html y css
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Febrero - 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-verde")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Diseño adaptable a dispositivos móviles e implementación de metodologia <a href="http://www.desarrolloweb.com/articulos/mobile-first-responsive.html" class="link-blue">mobil fist</a> en el desarrollo de sitio web responsive.
							ul
								li Pre-procesadores
								li Automatizadores de tareas de desarrollo
								li Paqueterias de desarrollo
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Marzo - 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-azul-verde")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Diseño de experiencia de usuario<a href="https://es.wikipedia.org/wiki/Experiencia_de_usuario" class="link-green" class="link-blue">(UX)</a> en desarrollo web
							ul
								li Procesos de diseño
								li Normativas de diseño
								li Patrones de diseño
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Abril - Mayo 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-rojo")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") <a href="http://www.jahaziel04.com/blog/seo/que-es-seo/" target="_blank" class="link-blue"> SEO </a> - Posicionamiento en buscadores
							ul
								li SEO técnico
								li Estrategias de SEO y contenido
								li Medición y optimización de reputación online
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Junio - Julio 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-naranja")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") <a href="https://es.wikipedia.org/wiki/Marketing_digital" target="_blank" class="link-orange"> Marketing y estrategias digitales </a>
							ul
								li Creación de marca
								li Presencia de marca
								li Metricas de analisis
								li Crecion de contenido
								li Publicidad no pagada
								li Publicidad pagada
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Agosto - Septiembre 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-amarillo")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Desarrollo y administración de gestores de contenido
							ul
								li <a href="https://es.wikipedia.org/wiki/WordPress" target="_blank" class="link-orange" class="link-blue"> Wordpress </a>
								li Desarrollo y gestion de contenido
								li <a href="https://es.wikipedia.org/wiki/Comercio_electr%C3%B3nico" target="_blank" class="link-blue"> e-commerce </a>
								
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Octubre - Noviembre 2015




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture cd-shadow-azul-claro")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") <a href="https://es.wikipedia.org/wiki/Front-end_y_back-end" target="_blank" class="link-blue"> Desarrollo front-end </a>
							ul
								li Javascript
								li jQuery
								li EcmaScript6
								li Administración de servidores
								li Despliegue de proyectos web
							//-a(href="#0" class="cd-read-more") Leer más
							span(class="cd-date") Diciembre - Actualidad


					div(class="cd-timeline-block")
						div(class="cd-timeline-img-big cd-picture cd-shadow-azul-big")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Constante actualización en nuevas tecnologias y estandares de la industria del desarrollo
							
							span(class="cd-date") 2016


