article(class="perfil-dos block")
	section(class="container")
		div(class="row")
			div(class="col s12")
				div(class="jflex")
					span(class="circle--flag")
						span(class="circle--flag-in")
							span(class="icon-book2")
					
					h2(class="perfil-subtitulo") Estudios

				section(id="cd-timeline" class="cd-container")



					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
							//-a(href="#0" class="cd-read-more") Leer más
							//-span(class="cd-date") 13 sep




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
							//-a(href="#0" class="cd-read-more") Leer más
							//-span(class="cd-date") 13 sep




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
							//-a(href="#0" class="cd-read-more") Leer más
							//-span(class="cd-date") 13 sep




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
							//-a(href="#0" class="cd-read-more") Leer más
							//-span(class="cd-date") 13 sep




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
							//-a(href="#0" class="cd-read-more") Leer más
							//-span(class="cd-date") 13 sep




					div(class="cd-timeline-block")
						div(class="cd-timeline-img cd-picture")
							//-img(src="/img/cd-icon-picture.svg" alt="Picture")
						div(class="cd-timeline-content")
							//-h2 Title of section 1
							p(class="text-normal gris") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
							//-a(href="#0" class="cd-read-more") Leer más
							//-span(class="cd-date") 13 sep


