article(class="perfil-tres relative block")
	section(class="container")
		div(class="row")
			div(class="col s12")
				div(class="jflex")
					span(class="circle--flag")
							span(class="circle--flag-in")
								span(class="icon-medal")
					h2(class="perfil-subtitulo") Certificaciones
			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Javascript Basic course
						p(class="") SoloLearn
						p
							a(href="/certificados/solo-learn-pb.pdf") Ver certificado
						figure(class="circle--absolute yellow")
							img(src="/img/certificate.png" class="img-full" alt="Javascript")
						figure(class="circle--center-logo")
							img(src="/img/sololearn.png" class="img-full" alt="SoloLearn")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso de programación básica
						p(class="") Platzi, INC
						p
							a(href="/certificados/programacion-basica.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/programacion-basica.png" class="img-full" alt="programación básica")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="Platzi")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Diplomado de inglés
						p(class="") iaf
						p
							a(href="#" target=_blank) Ver diploma
						figure(class="circle--absolute")
							img(src="/img/reyno-unido.png" class="img-full" alt="Inglés")
						figure(class="circle--center-logo")
							img(src="/img/iaf.png" class="img-full" alt="iaf")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso de diseño de interfaces móviles
						p(class="") Platzi, INC
						p
							a(href="/certificados/diploma-interfaces-moviles.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/interfaces-moviles.png" class="img-full" alt="interfaces móviles")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="Platzi")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso de HTML y CSS3
						p(class="") Platzi, INC
						p
							a(href="/certificados/diploma-html5-css3.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/html-css.png" class="img-full" alt="html y css")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="platzi")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso SEO Posicionamiento en buscadores


						p(class="") Platzi, INC
						p
							a(href="/certificados/diploma-seo.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/seo2.png" class="img-full" alt="SEO")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="platzi")


			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso de UX: Diseño de experiencia de Usuario

						p(class="") Platzi, INC
						p
							a(href="/certificados/diploma-diseno-interfaces-ux.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/ux.png" class="img-full" alt="UX")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="platzi")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso profecional de Git y Github

						p(class="") Platzi, INC
						p
							a(href="/certificados/diploma-git-github.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/github.png" class="img-full" alt="Github")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="platzi")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Curso de marketing y estrategias digitales

						p(class="") Platzi, INC
						p
							a(href="/certificados/diploma-introduccion-marketing.pdf" target="_blank") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/marketing-estrategias.png" class="img-full" alt="Marketing")
						figure(class="circle--center-logo")
							img(src="/img/platzi.png" class="img-full" alt="platzi")

			div(class="col s12 m6 l4")
				div(class="card-container")
					div(class="card-panel gris relative")
						p(class="text-normal text-helper-card") Idiomas dominados

						p(class="") Duolingo
						p
							a(href="https://www.duolingo.com/jahaziel004") Ver certificado
						figure(class="circle--absolute")
							img(src="/img/duolingo-cursos.png" class="img-full" alt="Idiomas")
						figure(class="circle--center-logo")
							img(src="/img/duolingo.png" class="img-full" alt="platzi")

div(class="subNav-container")
	div(class="row f-1")
		div(class="background-azul2 col s6")
			a(href="/guia.html" class="button-link")
				div(class="box-link right-align")
					span(class="inline grey-text text-lighten-3") Ir a
						p(class="inline") Guia de servicios
		div(class="background-azul col s6")
			a(href="/contacto" class="button-link")
				div(class="box-link left-align")
					span(class="inline grey-text text-lighten-3") Escribeme en
					p(class="inline") Contacto
