article(class="background-azul white-text section-one")
	section(class="container")
		div(class="row")
			div(class="col s12 m6 l6")
				h1(class="title") Diseño y desarrollo web
				p(class="text-normal") Forma parte del mundo de Internet y consigue más oportunidades de negocio.

				section(class="relative fix-lap")
					div(id="demowrap")
						div(class="macbook")
							div(class="macbook-lid")
								div(class="macbook-screen")
									div(class="macbook-content")
										ul(class="macbook-apps")
											li(class="macbook-app")
											li(class="macbook-app")
											li(class="macbook-app")
											li(class="macbook-app")
											li(class="macbook-app")
											li(class="macbook-app")
											li(class="macbook-app")
							div(class="macbook-base")

				figure(class="")
					img(src="/img/logo-languajes.png" class="img-25" alt="Html, css y javascript")

				p(class="t2") Seguro alguien te está buscando.
