article(class="background-azul white section-one")
	section(class="container")
		div(class="row")
			h1(class="title col s12") Diseño y desarrollo web
			p(class="text-normal col s11") Forma parte del mundo de Internet y consigue más oportunidades de negocio.

			figure(class="col s12")
				img(src="/img/logo-languajes.png" class="img-25" alt="Desarrollo web")

			p(class="t2 col s11") Seguro alguien te está buscando.