///CLASES DE UTILIDAD


////// IMG SIZE ////////
////////////////////////
.img-full
	width: 100%
///img-25 uso unico para el logo de los tres lenguajes
.img-25
	width: 25%
	@media only screen and (min-width:1025px)
		width 0
		display none
.img-graph
	width 100%
	max-width 500px
.img-contacto
	width 100%
	max-width 300px
.img-mailbox
	max-width: 238px
.img-guide
	width: 100%
	max-width 514px

////////////////////////


.jflex
	display: flex
	align-items center


////**POSICIONAMIENTO**/////
.relative
	position: relative

.absolute
	position absolute

//Centrado absoluto y responsive
//Se coloca por encima del border del contenido la mitad de su tamaño
.center-absolute
		margin: 0 auto
		right: 0
		left: 0
		top: -32.5px
		position: absolute;
/////// FIN DE BLOQUE ///////
/////////////////////////////

.fix-lap
	width: 300px
	height: 193px
	margin: 0 auto
	display none
	overflow hidden
	@media only screen and (min-width:1025px)
		display block


/////// LANDING-PAGE //////
///////////////////////////

.section
	&-one
		display: block;
		padding: 1em 0;
		background-repeat: no-repeat
		background-size: 62px
		background-position: right top
		background-image: url(../img/logo-pendant.png)
		@media only screen and (min-width:1025px)
			background-image: url(../img/landing-desk.png)
			background-size: 567px
			background-position right -21px
			@media only screen and (min-width:1300px)
				background-image: url(../img/landing-desk-big.png), url(../img/icon-pendant.png)
				background-size: 596px, 47px
				background-position right -7px, center -3px


	&-two
		display: block
		//background-image: url(../img/graph-decoration.png)
		//background-repeat no-repeat
		//background-position 100% bottom
		//background-size: 100%
		padding 20px 0
		box-shadow: inset 0px -1px 40px 0px rgba(0,0,0,.1),0 1px 0px 0 rgba(0,0,0,.15)
	&-three
		display block
		background-image: url(../img/x1-720.png);
		background-repeat no-repeat
		background-position right bottom
		background-size:100%
		padding 20px 0

		@media only screen and (min-width:720px)
			background-image: url(../img/x1-1024.png)
			background-size: 391px
			background-position: 100% bottom;
			@media only screen and (min-width:1024px)
				background-image: url(../img/desarrollo-web.png)
				background-size: 633px
				background-position: 100% bottom
				@media only screen and (min-width:1286px)
					background-size: 588px
	&-four
		display: block;
		background-image: url(../img/graph-decoration-up.png);
		background-repeat: no-repeat;
		background-position: left bottom
		background-size: 12%
		padding: 20px 0

///////    PERFIL    //////
///////////////////////////
.perfil
	&-uno
		padding-bottom 1px
		display flex
		justify-content flex-end
		flex-direction column
		@media only screen and (min-width:721px)
			flex-direction row
	&-space
		margin 4px 8% 8px 0
		background-color #fcfcfc
		color #404040
		padding .2em 1em
		border-radius 0 5px 5px 0
		@media only screen and (min-width:721px)
			position absolute
			top 29%
			left 0
			max-width 368px
			@media only screen and (min-width:1025px)
				top 22%
				left 7%
				border-radius 5px
				@media only screen and (min-width:1160px)
					top 20%
					padding 2em 2em
	&-tres
		background-color #fcfcfc

	&-titulo
		font-size: 22px
		margin 16px 0
		@media only screen and (min-width:1024px)
			margin 0
	&-subtitulo
		font-size 30px
		font-weight 300
		display inline-block


	&-info
		margin 40px 10px 0 0
	&-img
		width 100%
		max-width 730px
		@media only screen and (min-width:721px)
			margin-bottom -5px
			@media only screen and (min-width:1160px)
				max-width 1000px

	&-logo
		width 50px
		height 50px
		margin 5px auto 0 auto
		display none
		@media only screen and (min-width:1024px)
			display block

///////     GUIA     //////
///////////////////////////

.azul-marino
	color #082e41
.azul-alt
	color #28a9f4

////////DISPLAY
.inline-block
	display: inline-block;
.inline
	display: inline-block;
	width: 100%
.flex
	display flex
	height 60px
	flex-direction column
	justify-content center
.block
	display block


////////////Usalo en todos lados/////////////
.block
	display: block;
	padding: 1em 0;
	&-contacto
		display block
		padding 1em 0 0 0
	&-guia
		display block
		padding 21px 0 1px 0
.max-w830
	max-width 830px
.min-h121
	min-height 121px
	@media only screen and (max-width:720px)
		min-height 1px
		padding-top 15px

//////////////////////////////////////////////
////////

.fila
	background-color #f2f2f2
	margin .5em 0
	&-gris
		background-color #f5f5f5
		margin .5em 0
	&:nth-child(odd)
		background-color red

.guia
	&-dos
		background-image: url(../img/one-page.png)
		background-repeat no-repeat
		background-position 195px bottom
		background-size: 266px
		background-color: #f5f5f5
		@media only screen and (min-width:520px)
			background-position 100% bottom
			background-size: 266px

			@media only screen and (min-width:720px)
				background-position 100% 100px
				@media only screen and (min-width:800px)
					background-position 103% 9px
					background-size: 350px
					@media only screen and (min-width:1200px)
						background-position 93% 9px

	&-tres
		display: block;
		padding: 1em 0;
		background-repeat: no-repeat
		@media only screen and (min-width:720px)
			background-size: 47px
			background-position: 90% top
			background-image: url(../img/icon-pendant.png)
			@media only screen and (min-width:1025px)
				background-image: url(../img/montain.png), url(../img/icon-pendant.png)
				background-size: 596px, 47px
				background-position right 29px, 64% 0px
				@media only screen and (min-width:1300px)
					background-image: url(../img/montain.png), url(../img/icon-pendant.png)
					background-size: 596px, 47px
					background-position right 29px, 64% 0px



	&-subtitulo
		&,
		&-x
			font-size: 30px;
			font-weight: 300;
			color: #404040;
			font-family: Roboto;
			&:after
				content: ""
				font-size 30px
				width: 93%
				height: 3px
				background-color: #00a9e0
				display: block
				margin: 5px auto 0 auto

		&-x
			&:after
				content: ""
				font-size 30px
				width: 93%
				height: 3px
				background-color: #32c1ed
				display: block
				margin: 5px auto 0 auto
	&-head
		&,
		&--trans,
		&--azul,
		&--azul2,
		&--simple,
		&--azulX,
		&--azul2X
			//background-color #f2f2f2
			display flex
			height 60px
			min-height 90px
			align-items center
			text-align center
			justify-content center
			margin 1em 0

		&--trans
				background-color transparent
		&--azul
			background-color #03a9fa
			color white !important
			border-radius 12px 12px 0 0
			min-height 60px
		&--azul2
			background-color #32c1ed
			color white
			border-radius 12px 12px 0 0
			min-height 60px
		&--simple
			align-items left
			text-align left
			justify-content flex-end
		&--azulX
			background-color #03a9fa
			color white !important
			border-radius 0 0 12px 12px
			min-height: 45px
		&--azul2X
			background-color #32c1ed
			color white
			border-radius 0 0 12px 12px
			min-height: 45px
	&-text
		padding 0 1em 0 !important
		text-align right

	&-flex
		display inline-flex
		align-items: center;
		justify-content: center;
		margin-right: 16px
		.icon-stack
			font-size 30px
			color: white
		.icon-looks_1
			font-size 29px
			color: white



///////////////////////////
.line-style
	border-bottom 3px solid #18adf1

.pinned.white
	padding 0 33px 0 10px
	margin-top 6px

@media only screen and (min-width:720px)
	.movement-fix
		position absolute
		top -91px

///////////////////////////

.collapsible
	&-title
		font-size 14px
		font-weight 400
		margin 0 !important
	&-text
		font-size 14px
		font-weight 300
		//margin 1.46rem 0 1.168rem
		padding 0 1rem 1rem !important
.collapsible.popout>li
	box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0px 2px rgba(0,0,0,.12)
	margin: 0 10px

.collapsible-header
	border-bottom: 1px solid rgba(221, 221, 221, 0.58)

.collapsible-body
	border-bottom: 0

.collapsible.popout>li.active
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)

.collapsible-text
	font-weight: 400;
	color: rgba(68, 68, 68, 0.61)
.card
	max-width: 426px
	margin: 18px auto
	box-shadow 0 2px 2px 0 rgba(0,0,0,.16)

.card .card-content .card-title
	line-height: 1.2;
	display: block;
	margin: 13px 0;
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
	color: #039be5;
	margin-right: 0
	transition: color .3s ease;
	position: absolute;
	right: 20px	;
	//bottom: 20px;
  /* text-transform: uppercase; */

.card .card-content
	padding: 0 20px

///////////////////////////
ul.section.table-of-contents.pinned
	background-color: white;
	padding: 1em 43px 1em 23px;

///////////////////////////

.card-container
	margin 0 auto
	max-width 400px
.sin-boxshadow
	box-shadow none



.mar-sides
	margin-right 10px
	margin-left 10%
.margin-tb
	margin 20px 0

.border-r
	border-radius .5em
//////////FOOTER////////


////////////////////////
.tab
	margin-left 1em
//////////FIX///////////
//Sin margin bottom
.f-1
	margin-bottom: 0
.f2
	margin-top: 0
	margin-bottom: 0
.f-3
	padding: 0
.f-4
	padding-bottom: 0
.f-5
	margin: 28px 0 44% 0
	@media only screen and (min-width:720px)
		margin 0
		@media only screen and (min-width:720px)
			margin 2.5% 0 2.5% 0
