///CLASES DE UTILIDAD

.jflex
	display: flex
	align-items center



////// IMG SIZE ////////
////////////////////////	
.img-full
	width: 100%
.img-25
	width: 25%

////////////////////////


@media only screen and (max-width:992px)
	nav .brand-avatar
		left: 90%;
		transform: translateX(-50%);
		position: absolute;
		color: #fff;
		display: inline-block;
		font-size: 2.1rem;
		padding: 0;
		white-space: nowrap;

.absolute
	position absolute
	

/////// LANDING-PAGE //////
///////////////////////////

.section
	&-one
		display: block;
		padding: 1em 0;
		background-image: url(../img/logo-pendant.png)
		background-repeat: no-repeat
		background-size: 62px
		background-position: right top
	&-two
		display: block
		background-image: url(../img/graph-decoration.png)
		background-repeat no-repeat
		background-position 100% bottom
		background-size: 100%
	
	&-three
		display block

		
///////////////////////////

.collapsible
	&-title
		font-size 14px
		font-weight 400
		margin 0 !important
	&-text
		font-size 14px
		font-weight 300
		//margin 1.46rem 0 1.168rem
		padding 0 1rem 1rem !important
		
.imagen-pru
	width 300px
	height: 250px
	margin 0 auto
	background-color: red
	