///EJEMPLO: Codigo de colores
///Tamaños

azul = #00a9e0
rosa = #EF525B
white = #fff
gris = #404040

//Fondo azul
.azul
	background-color azul

//Fondo azul
.background-azul
	background-color azul
	
//Fondo blanco	
.background-blanco
	background-color white
	color gris

//Texto blando
.white
	color white