///EJEMPLO: Codigo de colores
///Tamaños

azul = #00a9e0
rosa = #EF525B
white = #fff
gris = #404040
gris-claro = #f2f2f2
facebook = #3b5998
twitter = #55acee
googleplus = #dd4b39
instagram = #125688
linkedin = #007bb5
github = #404040

//Fondo azul
.azul
	background-color azul

//Fondo azul
.background-azul
	background-color azul
.background-azul2
	background-color azul
	opacity: 0.8

//Fondo blanco
.background-blanco
	background-color white
	color gris

.background-gris
	background-color gris-claro
	color gris

//Texto blanco
.blanco-text
	color white
.white
	color white
.gris
	color gris
.azul-text
	color azul


.back
	&-gris_1
		background-color: #303c42
	&-gris_2
		background-color: #37424b
	&-gris_3
		background-color #455a64
	&-facebook
		background-color facebook
	&-twitter
		background-color twitter
	&-googleplus
		background-color googleplus
	&-instagram
		background-color instagram
	&-linkedin
		background-color linkedin
	&-github
		background-color github
.color
	&-facebook
		color facebook
	&-twitter
		color twitter
	&-googleplus
		color googleplus
	&-instagram
		color instagram
	&-linkedin
		color linkedin
	&-github
		color black
