article(class="background-azul white-text block")
	section(class="container")
		div(class="row")
			div(class="col s12 m9 l10")
				h2(class="h2") Guía de servicio
				p(class="text-normal") Más que un sitio web, será un conjunto de servicios, que complementarán a tu sitio web pa lograr un mayor impacto.
			div(class="col hide-on-small-only m3 l2")
				div(class="pinned white")
					ul(class="section table-of-contents")
						li
							a(href="#one-page") One-page
						li
							a(href="#multi-page") Multipa-page
						li
							a(href="#precios") Precios


article(class="background-gris block-guia" id="multi-page")
	section(class="container")
		div(class="row")
			div(class="col s12")
				
				h2(class="") <i class="icon-stack"></i> Milti-page

article(class="block-guia")
	section(class="container")
		div(class="row")
			div(class="col s12 m6")
				p(class="text-normal") El clasico y más efectivo sitio para tu negocio, el más escalable y de facil posicionamiento en los buscadores web.

				p(class="text-normal") Más información detallada, tus clientes no tendrán dudas de como obtener tus servicios y los beneficios que obtendrán de ser tus clientes.
			div(class="col s12 m6")
				figure(class="center")
					img(src="/img/multi-page.png" class="img-full")

article(class="block")
	section(class="container")
		div(class="row")
			div(class="col s12 m9")
				p(class="") <i>V </i> Diseño - 
					span(class="") Creado especialmente para tu marca y tipo de negocio.
				p(class="") <i>V </i> 5 Páginas - 
					span(class="") Inicio, servicios, acerca-de, preguntas frecuentes y contacto.
				p(class="") <i>V </i> Adaptable a móviles - 
					span(class="") Optimización para mǘiles, accesible desde cualquier dispositivo.
				p(class="") <i>V </i> SEO - 
					span(class="") Alta en buscadores y optimización para motores de busqueda.
				p(class="") <i>V </i> Google-maps - 
					span(class="") Alta en google-maps visible a los ojos del mundo en los mapas de google.
				p(class="") <i>V </i> Estadisticas - 
					span(class="") Sabras siempre la cantidad de visitas en tu sitio, la procedencia y más.
				p(class="") <i>V </i> Dominio - 
					span(class="") Registro de dominio con año gratis.
				p(class="") <i>V </i> Hosting - 
					span(class="") 30GB de almacenamiento por un año.
				p(class="") <i>V </i> Social media marketing - 
					span(class="") Estrategia de marketing de introducción al mercado y generación de contenido por el primer mes, para llevas trafico a tu web sin costos.

article(class="background-gris block-guia" id="one-page")
	section(class="container")
		div(class="row")
			div(class="col s12")
				
				h2(class="") <i class="icon-number"></i> One-page
article(class="block-guia")
	section(class="container")
		div(class="row")
			div(class="col s12 m9")
				p(class="text-normal") Todo en una sola página, el usuario no irá a ninguna otra parte a buscar más información, la información más relevante estará al alcance del usuario.

				p(class="text-normal") Ideal para profecionales que quieren mostrar su perfil profecional o negocios con pocos productos o servicios.
				
			div(class="block col s12")
				p(class="") <i>V </i> Diseño
				p(class="") <i>V </i> 5 Páginas
				p(class="") <i>V </i> Adaptable a móviles
				p(class="") <i>V </i> SEO
				p(class="") <i>V </i> Google-maps
				p(class="") <i>V </i> Estadisticas
				p(class="") <i>V </i> Dominio
				p(class="") <i>V </i> Hosting
				p(class="") <i>V </i> Social media marketing



			div(class="col s12 m9")
				figure(class="center")
					img(src="/img/one-page.png" class="img-full")



article(class="background-gris block-guia square")
article(class="background-gris block-guia" id="precios")
	section(class="container")
		div(class="row")
			div(class="col s12 m9")
				div(class="tag background-azul") $ --.00
				h2(class="") Empieza a formar parte de internet.
				p(class="") Contactame, no todos los proyectos web son iguales.
				p(class="") Hablemos sobre lo que tienes en mente, tal vez tu sitio requiera más o menos paginas.
			div(class="col s6")
				div(class="")
					table(class="highlight")
						thead
							tr

								th(data-field="id") ( )
								th(data-field="name") One-page
								th(data-field="name") Multi-page

						tbody
							tr
								td Firma de contrato
								td $1,500.00
								td $2,000.00
							tr
								td Entrega del diseño
								td $1,500.00
								td $2,000.00

							tr
								td Publicación
								td $1,500.00
								td $2,000.00


							

			