article(class="background-azul white-text block")
	section(class="container")
		div(class="row")
			div(class="col s12 m9 l10")
				h2(class="h2") Guía de servicio
				p(class="text-normal") Más que un sitio web, será un conjunto de servicios, que complementarán a tu sitio web pa lograr un mayor impacto.
			div(class="col hide-on-small-only m3 l2")
				ul(class="section table-of-contents")
					li
						a(href="#on-page") One-page
					li
						a(href="#multi-page") Multipa-page
					li
						a(href="#precios") Precios


article(class="background-gris block-guia")
	section(class="container")
		div(class="row")
			div(class="col s12")
				
				h2(class="") <i>*</i> Milti-page

article(class="block-guia")
	section(class="container")
		div(class="row")
			div(class="col s12")
				p(class="text-normal") El clasico y más efectivo sitio para tu negocio, el más escalable y de facil posicionamiento en los buscadores web.

				p(class="text-normal") Más información detallada, tus clientes no tendrán dudas de como obtener tus servicios y los beneficios que obtendrán de ser tus clientes.
			div(class="col s12")
				figure(class="center")
					img(src="/img/multi-page.png" class="img-full")

article(class="background-gris block-guia")
	section(class="container")
		div(class="row")
			div(class="col s12")
				
				h2(class="") <i>*</i> One-page
article(class="block-guia")
	section(class="container")
		div(class="row")
			div(class="col s12")
				p(class="text-normal") Todo en una sola página, el usuario no irá a ninguna otra parte a buscar más información, la información más relevante estará al alcance del usuario.

				p(class="text-normal") Ideal para profecionales que quieren mostrar su perfil profecional o negocios con pocos productos o servicios.
			div(class="col s12")
				figure(class="center")
					img(src="/img/one-page.png" class="img-full")
